@{
    ViewData["Title"] = "Thanks";
}

@model Mission06_jbuhler4.Models.Movies

<div class="text-center">
    <h1 class="display-4">Thank You!</h1>
    <p>@Model.Title has been added to the database.</p>
</div>
